<div class="container mb-5">
  <input
    type="text"
    [(ngModel)]="searchKey"
    placeholder="Search for products..."
    class="w-75 shadow-sm form-control mx-auto mb-5 border-2"
  />
  <div class="row gy-3">
    <div
      class="col-md-4 col-sm-6 col-xl-2"
      *ngFor="let product of allProducts | searchPipe : searchKey"
    >
      <div class="product px-2 py-3 rounded position-relative overflow-hidden">
        <div (click)="toSingleProduct(product.id)">
          <img
            [src]="product.imageCover"
            class="w-100"
            alt="{{ product.title }}"
          />
          <div class="d-flex justify-content-between mt-2">
            <p class="align-self-center mb-1 custom-color">
              {{ product.category.name }}
            </p>
            <i
              class="fa fa-heart wishlist-icon align-self-center fs-3 pe-lg-2 pe-sm-4 pe-5"
              (click)="toggleWishlist(product.id); $event.stopPropagation()"
              [ngClass]="{
                'text-main': wishlistStatus[product.id],
                'text-secondary': !wishlistStatus[product.id]
              }"
            ></i>
          </div>
          <h6 class="fw-semibold">{{ product.title | firstTwoWords : 2 }}</h6>
          <div class="d-flex justify-content-between">
            <p>{{ product.price | currency : "EGP" }}</p>
            <p>
              <i class="fa fa-star" style="color: #fbbc04"></i
              >{{ product.ratingsAverage }}
            </p>
          </div>
        </div>
        <button
          class="btn btn-success d-block text-white custom-btn w-100 shadow-sm fw-semibold"
          (click)="toggleCart(product.id)"
          [ngClass]="{
            'btn-danger': cartStatus[product.id],
            'btn-success': !cartStatus[product.id]
          }"
        >
          {{ cartStatus[product.id] ? "- Remove from Cart" : "+ Add to Cart" }}
        </button>
      </div>
    </div>
  </div>
</div>
