<div class="container my-5 py-5 shadow rounded-3">
  <div class="w-75 mx-auto">
    <h1 class="text-main">Reset Password :</h1>
    <form [formGroup]="resetForm" (ngSubmit)="reset(resetForm)">
      <div class="form-group mb-3">
        <label for="email">Email</label>
        <input
          formControlName="email"
          type="email"
          id="email"
          class="form-control shadow-sm"
        />
        <div
          class="alert alert-danger mt-2"
          *ngIf="
            resetForm.get('email')?.errors && resetForm.get('email')?.touched
          "
        >
          <p *ngIf="resetForm.get('email')?.getError('required')" class="m-0">
            Required
          </p>
          <p *ngIf="resetForm.get('email')?.getError('email')" class="m-0">
            Incorrect email format
          </p>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="password">New Password</label>
        <div class="input-group">
          <input
            formControlName="newPassword"
            [type]="showPassword ? 'text' : 'password'"
            id="newPassword"
            class="form-control shadow-sm fs-6 border-end-0"
          />
          <button
            class="btn btn-outline-secondary border-start-0 border-1 border-secondary border-opacity-25"
            type="button"
            (click)="togglePasswordVisibility()"
          >
            <i class="fa fa-eye" *ngIf="!showPassword"></i>
            <i class="fa fa-eye-slash" *ngIf="showPassword"></i>
          </button>
        </div>
        <div
          class="alert alert-danger mt-2"
          *ngIf="
            resetForm.get('newPassword')?.errors &&
            resetForm.get('newPassword')?.touched
          "
        >
          <p
            *ngIf="resetForm.get('newPassword')?.getError('required')"
            class="m-0"
          >
            Required
          </p>
          <p
            *ngIf="resetForm.get('newPassword')?.getError('pattern')"
            class="m-0"
          >
            Password should start with a capital letter and contain 6 to 13
            characters
          </p>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <p class="mb-0 align-self-center">
          Don't have an account?
          <a [routerLink]="['/register']" class="text-main fw-semibold"
            >Register</a
          >
        </p>
        <button
          class="btn d-block ms-auto shadow text-white"
          [disabled]="resetForm.invalid"
          [ngClass]="{
            'btn-success': resetForm.valid,
            'btn-danger': !resetForm.valid
          }"
        >
          <i *ngIf="isLoading" class="fa fa-spinner fa-spin-pulse"></i>
          <span *ngIf="!isLoading">Reset</span>
        </button>
      </div>
      <div
        class="alert alert-danger mt-3 text-center w-75 mx-auto"
        *ngIf="apiError"
      >
        {{ apiError }}!
      </div>
    </form>
  </div>
</div>
