<div class="container my-5 shadow p-4 rounded-2 forgotPassword">
  <div class="w-75 mx-auto">
    <h1 class="text-main fw-semibold">Forgot Password?</h1>
    <h4 class="mb-5 mt-3">A Code will be sent to this Email:</h4>
    <form
      action=""
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="sendCode(forgotPasswordForm)"
    >
      <div class="row">
        <div class="fw-semibold">
          <label for="email" class="ps-2">Email</label>
          <input
            formControlName="email"
            id="email"
            type="email"
            placeholder="Enter your Email..."
            class="mb-4 form-control shadow"
          />
          <div
            class="alert alert-danger mt-2"
            *ngIf="
              forgotPasswordForm.get('email')?.errors &&
              forgotPasswordForm.get('email')?.touched
            "
          >
            <p
              *ngIf="forgotPasswordForm.get('email')?.getError('required')"
              class="m-0"
            >
              Required
            </p>
            <p
              *ngIf="forgotPasswordForm.get('email')?.getError('email')"
              class="m-0"
            >
              Incorrect email format
            </p>
          </div>
          <button
            class="btn d-block ms-auto shadow text-white"
            [disabled]="forgotPasswordForm.invalid"
            [ngClass]="{
              'btn-success': forgotPasswordForm.valid,
              'btn-danger': !forgotPasswordForm.valid
            }"
          >
            <i *ngIf="isLoading" class="fa fa-spinner fa-spin-pulse"></i>
            <span *ngIf="!isLoading">Send Code</span>
          </button>
          <div
            class="alert alert-danger mt-3 text-center w-75 mx-auto"
            *ngIf="apiError"
          >
            {{ apiError }}!
          </div>
          <div
            class="alert alert-success mt-3 text-center tex-success w-75 mx-auto"
            *ngIf="successMsg"
          >
            {{ successMsg }} <span class="text-main">Successfully</span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container my-5 shadow p-4 rounded-2 verifyCode d-none">
  <div class="w-75 mx-auto">
    <div
      class="fw-semibold alert alert-success mt-3 text-center tex-success w-75 mx-auto"
      *ngIf="successMsg"
    >
      {{ successMsg }} <span class="text-main">Successfully</span>
    </div>
    <h1 class="text-main fw-semibold">Verify Code</h1>
    <h4 class="mb-5 mt-3">Check your mail and write the code here</h4>
    <form
      action=""
      [formGroup]="verifyCode"
      (ngSubmit)="verifyResetCode(verifyCode)"
    >
      <div class="row">
        <div class="fw-semibold">
          <label for="code" class="ps-2">Code</label>
          <input
            formControlName="resetCode"
            id="code"
            type="text"
            placeholder="Enter your Code..."
            class="mb-4 form-control shadow"
          />
          <div
            class="alert alert-danger mt-2"
            *ngIf="
              verifyCode.get('code')?.errors && verifyCode.get('code')?.touched
            "
          >
            <p *ngIf="verifyCode.get('code')?.getError('required')" class="m-0">
              Required
            </p>
          </div>
          <button
            class="btn d-block ms-auto shadow text-white"
            [disabled]="verifyCode.invalid"
            [ngClass]="{
              'btn-success': verifyCode.valid,
              'btn-danger': !verifyCode.valid
            }"
          >
            <i *ngIf="isLoading" class="fa fa-spinner fa-spin-pulse"></i>
            <span *ngIf="!isLoading">Verify</span>
          </button>
          <div
            class="alert alert-danger mt-3 text-center w-75 mx-auto"
            *ngIf="apiError"
          >
            {{ apiError }}!
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
