<div>
  <div
    class="bg-body-tertiary px-lg-5 px-sm-2 custom-flex py-5 justify-content-around"
  >
    <div
      class="ps-md-5 single-col border-secondary border-end border-2 border-opacity-75 ps-sm-1"
    >
      <h5 class="text-center">ABOUT</h5>
      <p class="d-block fw-medium">
        More than just a retailer, we're your partner in technological
        advancement , offering trusted brands that empower and inspire.
      </p>
      <div class="d-flex justify-content-evenly mb-4 mb-md-0">
        <i
          class="fa-brands fa-cc-visa fs-4"
          style="color: rgb(22, 22, 181)"
        ></i>
        <i
          class="fa-brands fa-cc-paypal fs-4"
          style="color: rgb(22, 22, 181)"
        ></i>
        <i
          class="fa-brands fa-cc-mastercard fs-4"
          style="color: rgb(255, 174, 0)"
        ></i>
        <i class="fa-brands fa-cc-apple-pay fs-4"></i>
      </div>
    </div>
    <div
      class="single-col text-center text-md-start border-secondary border-end border-2 border-opacity-75 ps-sm-1"
    >
      <h5 class="text-center">BRANDS</h5>
      <ul class="list-unstyled ps-md-5 ms-md-5 fw-medium">
        <li>-apple</li>
        <li>-canon</li>
        <li>-dell</li>
        <li>-sony</li>
        <li>-infinix</li>
        <li>-huawei</li>
      </ul>
    </div>
    <div class="single-col text-center text-md-start">
      <h5 class="text-center">INFORMATION</h5>
      <ul class="list-unstyled ps-md-5 ms-md-5 fw-medium">
        <li>-about us</li>
        <li>-contact us</li>
        <li>-term& condition</li>
        <li>-return& exchange</li>
        <li>-shipping, delivery</li>
        <li>-private policy</li>
      </ul>
    </div>
    <div
      class="single-col pe-md-5 text-center text-md-start border-secondary border-start border-2 border-opacity-75 ps-sm-1"
    >
      <h5 class="text-center">CONTACT</h5>
      <p class="mb-1 d-block fw-medium">-274st, Miami, Alexandria, Egypt.</p>
      <p class="fw-medium">Pin Code -21624</p>
      <div class="fw-medium mb-2 d-flex flex-nowrap">
        <i
          class="fa-brands fa-whatsapp fs-4 align-self-center"
          style="color: rgb(43, 163, 51)"
        ></i>
        <a
          href="whatsapp://send?phone=201228515176&text=Hello%20there"
          class="text-decoration-none ps-2"
          target="_self"
        >
          <div class="custom-tooltip">
            Message Me? +201228515176
            <span class="tooltiptext">Contact the developer!</span>
          </div></a
        >
      </div>
      <div class="d-flex justify-content-evenly">
        <i
          class="fa-brands fa-facebook fs-4"
          style="color: rgb(37, 37, 174)"
        ></i>
        <i
          class="fa-brands fa-instagram fs-4"
          style="color: rgb(255, 174, 0)"
        ></i>
        <i
          class="fa-brands fa-linkedin fs-4"
          style="color: rgb(12, 12, 185)"
        ></i>
        <i class="fa-brands fa-tiktok fs-4"></i>
      </div>
    </div>
  </div>
  <div class="bg-dark-subtle text-center py-2 fw-semibold">
    Copyright ©2024 All Rights Reserved | Design by Kerollos Fessal (Angular
    Developer)
  </div>
</div>
